.Holst {
  margin-top: 90px;
  min-height: 90vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  overflow: auto;
}

.Holst canvas {
  background-color: #fff;
  z-index: 500;
}
